<%
  extra_classes ||= ''
  page_name ||= ''
%>
<header class="header <%= extra_classes %>" id="menu">

  <div class="header_left">
    <div class="logos">
      <a href="index.html" class="logo_bestinver white"><%= image_tag("content/logo-bestinver.svg", :class => '') %></a>
      <a href="index.html" class="logo_iese white"><%= image_tag("content/logo-iese.svg", :class => '') %></a>

      <a href="index.html" class="logo_bestinver transparent"><%= image_tag("content/logo-bestinver-white.svg", :class => '') %></a>
      <a href="index.html" class="logo_iese transparent"><%= image_tag("content/logo-iese-white.svg", :class => '') %></a>
    </div>


    <ul class="header_menu">
      <li>
        <%= link_to 'Lecturas recomendadas', '/bestof.html' %>
      </li>
      <li>
        <%= link_to 'Sobre el informe', '/about.html' %>
      </li>
    </ul>
  </div>
  <a  href="https://www.bestinver.es" class="btn_header" 
      onclick="DigitalData.push({'event':  'event','eventCategory':'ir a bestinver','eventAction': '<%= page_name %>','eventLabel':  ''});" >
      Ir a Bestinver.es <span class="icon-arrow-right"></span>
  </a>


  <button class="btn_menu_mobile"><span class="hamburguer-menu"></span></button>

  <div class="mobile_menu_overlay"></div>
  <div class="mobile_menu">
    <div class="mobile_menu_content">
      <div class="mobile_menu_logos">
        <a href="" class="logo_bestinver"><%= image_tag("content/logo-bestinver.png", :class => '') %></a>
        <a href="" class="logo_iese"><%= image_tag("content/logo-iese.png", :class => '') %></a>
      </div>
      <div class="mobile_menu_menus">
        <ul class="menu-list-gold">
          <li><a href="/section_1.html">Productos de inversión: más oferta pero sin cambios sustanciales</a></li>
          <li><a href="/section_2.html">Más digitales, mismas decisiones</a></li>
          <li><a href="/section_3.html">Ahorro insuficiente, inversión deficiente</a></li>
          <li><a href="/section_4.html">Contratación a sabiendas, sin saber</a></li>
        </ul>
        <ul class="menu-list-dark">
          <li><%= link_to 'Lecturas recomendadas', '/bestof.html' %></li>
          <li><%= link_to 'Sobre el informe', '/about.html' %></li>
        </ul>
      </div>
    </div>
  </div>
</header>
