<%
  extra_classes ||= ''
%>
<header class="header <%= extra_classes %>" id="menu">

  <div class="logos">
    <a href="" class="logo_bestinver white"><%= image_tag("content/logo-bestinver.png", :class => '') %></a>
    <a href="" class="logo_iese white"><%= image_tag("content/logo-iese.png", :class => '') %></a>

    <a href="" class="logo_bestinver transparent"><%= image_tag("content/logo-bestinver-white.png", :class => '') %></a>
    <a href="" class="logo_iese transparent"><%= image_tag("content/logo-iese-white.png", :class => '') %></a>
  </div>
  <ul class="header_menu">
    <li>
      <a href="">Lecturas recomendadas</a>
    </li>
    <li>
      <a href="">tendencias en inversión</a>
    </li>
    <li>
      <a href="">Sobre el informe</a>
    </li>
  </ul>

  <a href="" class="btn_header">Ir a Bestinver.es <span class="icon-arrow-right"></span></a>

  <button class="btn_menu_mobile"><span class="hamburguer-menu"></span></button>

  <div class="mobile_menu_overlay"></div>
  <div class="mobile_menu">
    <div class="mobile_menu_content">
      <div class="mobile_menu_logos">
        <a href="" class="logo_bestinver"><%= image_tag("content/logo-bestinver.png", :class => '') %></a>
        <a href="" class="logo_iese"><%= image_tag("content/logo-iese.png", :class => '') %></a>
      </div>
      <div class="mobile_menu_menus">
        <ul class="menu-list-gold">
          <li><a href="">Productos de inversión, nada nuevo en el horizonte</a></li>
          <li><a href="">Más digitales, mismas decisiones</a></li>
          <li><a href="">Ahorro insuficiente, inversión deficiente</a></li>
          <li><a href="">contratación a sabiendas, sin saber</a></li>
        </ul>
        <ul class="menu-list-dark">
          <li><a href="">lecturas recomendadas</a></li>
          <li><a href="">tendencias en inversión</a></li>
          <li><a href="">Sobre el informe</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
