---
title: Observatorio
layout: layout
---


<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name =>'sobre el informe',
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_page", :locals => {
    :extra_classes => '',
    :title => 'Sobre el Observatorio BESTINVER - IESE',
    :image => 'hero_about.jpg'
  }) %>

  <%= partial("modules/intro_about", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/about_data", :locals => {
    :extra_classes => ''
  }) %>

  

  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name =>'sobre el informe' ,
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name =>'sobre el informe' }) %>
    <script>
       console.log('tipo de dispositivo', device );
       console.log('hora', localeTime );
       console.log('dia de la semana', weekDay );
       console.log('tipo de dia de la semana', typeOfDay );

      DigitalData.push({
        'event': 'pageview',
        'ModoWeb': device, //'<desktop | movil>',
        'Idioma': '',
        'Hora': localeTime, //'<HH:MM:SS>',
        'Dia de la semana':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'Tipologia del dia de la semana': typeOfDay ,//'<week|weekend>',
        'Fecha publicacion': '-',
        'Pagina no encontrada': '-',
        'Pagina anterior': '-',
        'Referente': '-',
        'Tipo de pagina': 'contenido',
        'Nivel de contenido1': 'area publica',
        'Nivel de contenido2': 'observatorio',
        'Nivel de contenido3':'sobre el informe' ,
        'Nivel de contenido4': '-',
      }); 
    </script>

