---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_page", :locals => {
    :extra_classes => '',
    :title => 'Lecturas recomendadas',
    :image => 'hero_bestof.jpg'
  }) %>

  <div class="bestof">
    <div class="bestof_column">
      <p class="bestof_text">Consulta los estudios más relevantes realizados entorno al mundo de las finanzas seleccionados por BESTINVER y el IESE. Abre una puerta a todo el conocimiento de valor sobre ahorro e inversión.</p>

      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_1.jpg", :class => '') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            Claves para coordinar alianzas de valor
          </p>
          <p class="card_content_text">
            Cómo centrar las capacidades individuales, el conocimiento, las rutinas y esquemas de coordinación para crear alianzas, diseñar y organizar la información para que los participantes creen valor mejorando las expectativas de éxito.
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_2.jpg", :class => '') %>
          <%= image_tag("content/play.png", :class => 'icon-play') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            El intercambio de conocimiento sin perder ventaja competitiva
          </p>
          <p class="card_content_text">
            Para innovar, se debe aprender a obtener conocimiento más allá de una organización, industria o sector. Pero,¿cómo aventurarse fuera o incluso hacer alianzas con rivales sin comprometer las propias ventajas competitivas?
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_3.jpg", :class => '') %>
          <%= image_tag("content/play.png", :class => 'icon-play') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            ¿Cómo será el futuro del consumo?
          </p>
          <p class="card_content_text">
            En la actualidad, se cuenta con un patrón de consumo: el omnicanal. En el futuro, los usuarios vivirán pegados a la tecnología y esto conllevará un cambio notable de tendencias y formas de consumir.
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
    </div>
    <div class="bestof_column">

      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_3.jpg", :class => '') %>
          <%= image_tag("content/play.png", :class => 'icon-play') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            Deuda de crisis pública en Europa: efectos reales
          </p>
          <p class="card_content_text">
            ¿Cuál fue el motivo por el que desaparecieron miles de millones de euros de inversión e ingresos, así como puestos de trabajo durante la crisis de deuda pública europea?
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_3.jpg", :class => '') %>
          <%= image_tag("content/play.png", :class => 'icon-play') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            El futuro de las pensiones españolas
          </p>
          <p class="card_content_text">
            Las reformas del sistema público español de pensiones de 2011 y 2013 han significado la mejora sustancial de su sostenibilidad, limitando el aumento de impuestos que hubiera sido necesario para financiar los déficits del sistema.
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>

      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_3.jpg", :class => '') %>
          <%= image_tag("content/play.png", :class => 'icon-play') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            ¿Cuál ha sido la rentabilidad de los fondos de pensiones en España entre 2002 y 2017?
          </p>
          <p class="card_content_text">
            En los últimos 15 años, solo 4 fondos de pensiones del total, superaron la rentabilidad del IBEX 35 y 47 la de los bonos del estado. Según el siguiente estudio, es el momento para ahorrar y, de este modo, complementar la futura pensión de la Seguridad Social.
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
      <div class="card fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
        <a href="" class="card_image">
          <%= image_tag("content/bestof_4.jpg", :class => '') %>
        </a>
        <div class="card_content">
          <p class="card_content_title">
            Perspectiva empírica y global de la Tasa Máxima de Rescate
          </p>
          <p class="card_content_text">
            Con una cartera de jubilación concreta, un periodo de jubilación previsto y el legado que deseamos dejar,¿cuál sería el rescate inicial máximo que podría hacer un pensionista si quiere mantener su poder adquisitivo constante durante su jubilación?
          </p>
          <a href="" class="see_more">Leer más</a>
        </div>
      </div>
    </div>
  </div>

  

  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>
</div>
<%= partial("shared/footer") %>
