---
title: Informaci칩n sobre el estudio del Observatorio BESTINVER - IESE
metaDescription: El Observatorio BESTINVER-IESE, con la colaboraci칩n de KANTAR TNS, recoge las tendencias actuales sobre el ahorro e inversi칩n de los inversores espa침oles.
layout: layout
---


<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name =>'sobre el informe',
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_page", :locals => {
    :extra_classes => '',
    :title => 'Sobre el Observatorio BESTINVER - IESE',
    :image => 'observatorio_bestinver-iese.jpg'
  }) %>

  <%= partial("modules/intro_about", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/about_data", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name =>'sobre el informe' ,
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name =>'sobre el informe' }) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'modoWeb': device, //'<desktop | movil>',
        'idioma': 'es',
        'hora': localeTime, //'<HH:MM:SS>',
        'dia':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'tipoDiaSemana': typeOfDay ,//'<week|weekend>',
        'fechaPublicacion': '',
        'paginaNoEncontrada': '',
        'paginaAnterior': '',
        'referente': '',
        'tipoPagina': 'contenido',
        'contenido1': 'area publica',
        'contenido2': 'observatorio',
        'contenido3':'sobre el informe' ,
        'contenido4': '',
      }); 
    </script>

