---
title: Informaci칩n sobre el estudio del Observatorio BESTINVER - IESE
metaDescription: El Observatorio BESTINVER-IESE, con la colaboraci칩n de KANTAR TNS, recoge las tendencias actuales sobre el ahorro e inversi칩n de los inversores espa침oles.
layout: layout
---


<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name =>'sobre el informe',
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_page", :locals => {
    :extra_classes => '',
    :title => 'Sobre el Observatorio BESTINVER - IESE',
    :image => 'observatorio_bestinver-iese.jpg'
  }) %>

  <%= partial("modules/intro_about", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/about_data", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name =>'sobre el informe' ,
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name =>'sobre el informe' }) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'ModoWeb': device, //'<desktop | movil>',
        'Idioma': '',
        'Hora': localeTime, //'<HH:MM:SS>',
        'Dia de la semana':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'Tipologia del dia de la semana': typeOfDay ,//'<week|weekend>',
        'Fecha publicacion': '-',
        'Pagina no encontrada': '-',
        'Pagina anterior': '-',
        'Referente': '-',
        'Tipo de pagina': 'contenido',
        'Nivel de contenido1': 'area publica',
        'Nivel de contenido2': 'observatorio',
        'Nivel de contenido3':'sobre el informe' ,
        'Nivel de contenido4': '-',
      }); 
    </script>

