---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-white'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_home", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/home_index", :locals => {
    :extra_classes => ''
  }) %>


  <div class="home_block prod fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in" id="index1">
    <div class="home_block_big" style="background-image: url('./assets/images/content/bg-products.jpg');">
      <div class="home_block_big_content">
        <p class="home_block_title">Productos de inversión, nada nuevo en el horizonte</p>
        <p class="home_block_text">Los inversores españoles <strong>centran su patrimonio</strong> en <strong>bienes inmuebles</strong>, destacando la vivienda en propiedad, <strong>y en productos financieros</strong>.</p>
        <a href="" class="btn">
          Leer más
        </a>
      </div>
    </div>
    <div class="home_block_small">
      <div>
        <span class="percent"><span class="num">87</span><span class="sim">%</span></span>
        <span class="text">Los inversores posee una combinación de bienes inmuebles y productos financieros</span>
      </div>
    </div>
  </div>


  <div class="home_block digital fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--top-in" id="index2">
    <div class="home_block_big" style="background-image: url('./assets/images/content/bg-digital.jpg');">
      <div class="home_block_big_content">
        <p class="home_block_title">Más digitales, mismos bancos, mismas inversiones</p>
        <p class="home_block_text">El <strong>canal tradicional bancario</strong> sigue siendo la <strong>vía principal de contratación</strong>. La transformación digital del sector no ha evolucionado los productos en los que se invierte, ni ha mermado el número de visitas a la oficina física. Lo que sí ha cambiado es el <strong>seguimiento</strong>, que se realiza a través de <strong>plataformas digitales</strong></p>
        <a href="" class="btn">
          Leer más
        </a>
      </div>
      <div class="home_block_big_chart">
        <div class="svg_anim" id="rosco1A""></div>
      </div>
    </div>
  </div>


  <div class="home_block saving fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in" id="index3">
    <div class="home_block_big" style="background-image: url('./assets/images/content/bg-saving.jpg');">
      <div class="home_block_big_content">
        <p class="home_block_title">Ahorro insuficiente, inversión deficiente</p>
        <p class="home_block_text">La mayoría de los inversores considera que la <strong>pensión pública</strong> que le corresponderá <strong>tras su jubilación no será suficiente</strong>.</p>
        <a href="" class="btn">
          Leer más
        </a>
      </div>
    </div>
    <div class="home_block_small">
      <div>
        <span class="percent"><span class="num">78</span><span class="sim">%</span></span>
        <span class="text">De los inversores considera que su pensión pública será insuficiente</span>
      </div>
    </div>
  </div>


  <div class="home_block known fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in" id="index4">
    <div class="home_block_big" style="background-image: url('./assets/images/content/bg-known.jpg');">
      <div class="home_block_big_content">
        <p class="home_block_title">Contratación a sabiendas, sin saber</p>
        <p class="home_block_text">El inversor sigue teniendo la percepción de que la <strong>rentabilidad y la seguridad están reñidas</strong>. Aunque se considera una persona formada, que no requiere asesoramiento y que afirma conocer los productos que contrata, la realidad es que <strong>no está muy familiarizado con los distintos productos financieros</strong>.</p>
        <a href="" class="btn">
          Leer más
        </a>
      </div>
      <div class="home_block_big_chart">
        <div class="svg_anim" id="rosco1B"></div>
      </div>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>
</div>
<%= partial("shared/footer") %>
