---
ogUrl: pension-jubilacion.html
ogImage: pension_jubilacion.jpg
ogTitle: ¿Lo sabías?
ogDescription: El inversor español comienza a preocuparse por su jubilación cuando le quedan apenas 10 años para esta. Quienes se preocupan por la jubilación son inversores de más de 54 años, con un índice socioeconómico alto, que tiende a una mayor contratación de planes de pensiones o seguros de ahorro.
title: ¿Cuánto destinamos a nuestra pensión o jubilación? BESTINVER - IESE
metaDescription: Nos preocupamos tarde de nuestra pensión pública, cuando quedan 10 años para esta. Quienes se preocupan por la jubilación son inversores de más de 54 años.
layout: layout
---

<% page_name = 'ahorro insuficiente inversion deficiente' %>
<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name => page_name
}) %>

<div class="content__wrapper">
  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Ahorro insuficiente, inversión deficiente',
    :image => 'pension_jubilacion.jpg',
    :extra_content=> "3",
    :page_name => page_name
  }) %>
  
  <div class="section_block ">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--middle-in">
      <p class="section_block_title">El inversor español destina un <strong>¼ de sus ingresos al ahorro e inversión</strong>.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--middle-in">
      <div class="svg_anim stats_horizontal" id="stats_horizontal"></div>
    </div>
  </div>
  
  <div class="section_block sec_3_grey">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--middle-in">
      <p class="section_block_title">El 80% de los inversores <strong>ahorra más de 5.000€</strong> procedentes de sus ingresos anuales.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
      <div class="svg_anim" id="roscos_varios_3"></div>
    </div>
  </div>
 

  <div class="know_block know_block--transparent fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>El inversor español <strong>comienza a preocuparse</strong> por su jubilación cuando le quedan <strong>apenas 10 años para esta</strong>. Quienes se preocupan por la jubilación son inversores de más de 54 años, con un índice socioeconómico alto, que tiende a una <strong>mayor contratación de planes de pensiones</strong> o seguros de ahorro.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share">
        <span class="btn_val">Compartir</span>
        <span class="share_wrap" data-socialize>
          <a href="#" data-title="¿Lo sabías?" data-desc="El inversor español comienza a preocuparse por su jubilación cuando le quedan apenas 10 años para esta. Quienes se preocupan por la jubilación son inversores de más de 54 años, con un índice socioeconómico alto, que tiende a una mayor contratación de planes de pensiones o seguros de ahorro." class="sz sz-linkedin" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'linkedin','eventLabel': '' });" ></a>
          <a href="#" data-title="¿Lo sabías?" data-desc="El inversor español comienza a preocuparse por su jubilación cuando le quedan apenas 10 años para esta. Quienes se preocupan por la jubilación son inversores de más de 54 años, con un índice socioeconómico alto, que tiende a una mayor contratación de planes de pensiones o seguros de ahorro." class="sz sz-facebook" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'facebook','eventLabel': '' });"></a>
          <a href="#" data-title="El inversor español comienza a preocuparse por su jubilación cuando le quedan apenas 10 años para esta. Quienes se preocupan por la jubilación son inversores de más de 54 años, con un índice socioeconómico alto, que tiende a una mayor contratación de planes de pensiones o seguros de ahorro." class="sz sz-twitter" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'twitter','eventLabel': '' });"></a>
        </span>
      </button>
    </div>
  </div>
  
  <div class="info-block fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--middle-in" >

    <div class="info-block__content">
      <p class=""><strong>6 de cada 10 inversores</strong> españoles conocen el <strong>importe de su pensión pública</strong>, asumiendo que esta no mantendrá su nivel de vida actual.</p>
    </div>
    <div class="info-block__graph">
      <div class="svg_anim" id="roscofoto2A"></div>
    </div>
  </div>


  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name => page_name
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => 'Más digitales, mismos bancos, mismas inversiones',
    :prev_url => '/contratar-inversion.html',
    :next_title => 'Contratación a sabiendas, sin saber',
    :next_url => '/productos-financieros.html'
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name => page_name }) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'modoWeb': device, //'<desktop | movil>',
        'idioma': 'es',
        'hora': localeTime, //'<HH:MM:SS>',
        'dia':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'tipoDiaSemana': typeOfDay ,//'<week|weekend>',
        'fechaPublicacion': '',
        'paginaNoEncontrada': '',
        'paginaAnterior': '',
        'referente': '',
        'tipoPagina': 'contenido',
        'contenido1': 'area publica',
        'contenido2': 'observatorio',
        'contenido3': '<%= page_name %>',
        'contenido4': '',
      }); 
    </script>