---
ogUrl: productos-inversion.html
ogImage: productos_inversion.jpg
ogTitle: ¿Lo sabías?
ogDescription: En la última década, el comportamiento de los inversores más jóvenes ha cambiado. El porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017
title: Productos de inversión y bienes inmuebles - BESTINVER - IESE
metaDescription: El 87% de los españoles centran su patrimonio en productos de inversión y bienes inmuebles. El 78% de los hogares son viviendas en propiedad, según la OCDE
layout: layout
---

<% page_name = 'productos de inversion nada nuevo en el horizonte' %>
<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name => page_name,
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Productos de inversión: más oferta pero sin cambios sustanciales',
    :image => 'productos_inversion.jpg',
    :extra_content=> "1",
    :page_name => page_name,
  }) %>
  
  <div class="section_block">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
      <p class="section_block_title">Entre los productos de inversión más contratados, destacan los <strong>planes de pensiones</strong> y <strong>los depósitos</strong>.</p>
      <p class="section_block_text">La <strong>experiencia</strong> del inversor y su <strong>conocimiento financiero</strong> son puntos clave a la hora de contratar productos de inversión <strong>distintos al depósito</strong>.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-long fp_animate--fadeInUp fp_animate--top-quarter-in">
      <div class="svg_anim stats_vertical" id="stats_vertical"></div>
    </div>
  </div>

  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>En la última década, el comportamiento de los <strong>inversores más jóvenes</strong> ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share">
        <span class="btn_val">Compartir</span>
        <span class="share_wrap" data-socialize>
          <a href="#" data-title="¿Lo sabías?" data-url="bestinver.es/observatorio" data-desc="En la última década, el comportamiento de los inversores más jóvenes ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017." class="sz sz-linkedin" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'linkedin','eventLabel': '' });" ></a>
          <a href="#" data-title="¿Lo sabías?" data-url="www.bestinver.es/observatorio" data-desc="En la última década, el comportamiento de los inversores más jóvenes ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017." class="sz sz-facebook" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'facebook','eventLabel': '' });"></a>
          <a href="#" data-title="En la última década, el comportamiento de los inversores más jóvenes ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017. #BESTINVERIESE" class="sz sz-twitter" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'twitter','eventLabel': '' });"></a>
        </span>
      </button>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name => page_name,
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :next_title => 'Más digitales, mismos bancos, mismas inversiones',
    :next_url => 'contratar-inversion.html'
  }) %>
</div>
<%= partial("shared/footer", :locals => {:page_name => page_name}) %>
    <script>
      DigitalData.push({
        'event': 'pageview',
        'modoWeb': device, //'<desktop | movil>',
        'idioma': 'es',
        'hora': localeTime, //'<HH:MM:SS>',
        'dia':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'tipoDiaSemana': typeOfDay ,//'<week|weekend>',
        'fechaPublicacion': '',
        'paginaNoEncontrada': '',
        'paginaAnterior': '',
        'referente': '',
        'tipoPagina': 'contenido',
        'contenido1': 'area publica',
        'contenido2': 'observatorio',
        'contenido3': '<%= page_name %>' ,
        'contenido4': '',
      }); 
    </script>