---
ogUrl: productos-financieros.html
ogImage: productos_financieros.jpg
ogTitle: ¿Lo sabías?
ogDescription: 1 de cada 3 inversores no analiza la oferta de productos financieros del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias.
title: Conocimiento de los productos financieros - BESTINVER - IESE
metaDescription: El inversor español no está muy familiarizado con los distintos productos financieros y se suele centrar en la oferta habitual de las entidades bancarias.
layout: layout
---

<% page_name = 'contratacion a sabiendas sin saber' %>
<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name => page_name
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Contratación a sabiendas, sin saber',
    :image => 'productos_financieros.jpg',
    :extra_content=> "4",
    :page_name => page_name
  }) %>
  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>1 de cada 3 inversores <strong>no analiza la oferta de productos financieros</strong> del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share">
        <span class="btn_val">Compartir</span>
        <span class="share_wrap" data-socialize>
          <a href="#" data-title="¿Lo sabías?" data-desc="1 de cada 3 inversores no analiza la oferta de productos financieros del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias." class="sz sz-linkedin" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'linkedin','eventLabel': '' });" ></a>
          <a href="#" data-title="¿Lo sabías?" data-desc="1 de cada 3 inversores no analiza la oferta de productos financieros del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias." class="sz sz-facebook" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'facebook','eventLabel': '' });"></a>
          <a href="#" data-title="1 de cada 3 inversores no analiza la oferta de productos financieros del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias." class="sz sz-twitter" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'twitter','eventLabel': '' });"></a>
        </span>
      </button>
    </div>
  </div>

  <div class="section_block sec_4_grey">
    <div class="section_block_header">
      <p class="section_block_title">El inversor compra, no compara</p>
      <p class="section_block_text">El inversor español <strong>se guía por la percepción</strong> que tiene sobre la <strong>rentabilidad</strong> y los beneficios de la desgravación fiscal a la hora de contratar <a href="https://www.bestinver.es/fondos-de-inversion/" target="_blank">fondos de inversión</a> y <a href="https://www.bestinver.es/planes-de-pensiones/" target="_blank">planes de pensiones</a>.</p>
    </div>

    <div class="cnt_graph">
      <div class="chart_1 fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--bottom-in">
        <%#= image_tag("content/chart_3.png", :class => '') %>
        <p class="chart_title">Planes de pensiones</p>
        <div class="svg_anim" id="roscofoto3A"></div>
      </div>
      <div class="chart_2 fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--bottom-in">
        <%#= image_tag("content/chart_4.png", :class => '') %>
        <p class="chart_title">Fondos de inversión</p>
        <div class="svg_anim" id="roscofoto3B"></div>
      </div>
    </div>
  </div>

  <div class="section_block sec_4">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
      <p class="section_block_title">A pesar de que <strong>4 de cada 10</strong> inversores <strong>no están contentos con la rentabilidad</strong> obtenida de sus productos financieros, no comparan ni se preocupan por encontrar nuevas alternativas.</p>

    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <%#= image_tag("content/chart_5.png", :class => '') %>
      <div class="svg_anim" id="roscos_varios_1"></div>
    </div>
  </div>


  <div class="know_block sect4 know_block--with-img fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--middle-in">
    <div class="know_block_image">
      <%= image_tag("content/known_sec-4.jpg", :class => '') %>
    </div>
    <div class="know_block_content">
      <div class="know_block_content_text">
        <p>8 de cada 10 inversores españoles esperan que sus inversiones conlleven la <strong>máxima rentabilidad</strong> con el <strong>menor riesgo posible</strong>.</p>
      </div>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => 'bg-white',
    :page_name => page_name }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => 'Ahorro insuficiente, inversión deficiente',
    :prev_url => '/pension-jubilacion.html'
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name => page_name } ) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'modoWeb': device, //'<desktop | movil>',
        'idioma': 'es',
        'hora': localeTime, //'<HH:MM:SS>',
        'dia':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'tipoDiaSemana': typeOfDay ,//'<week|weekend>',
        'fechaPublicacion': '',
        'paginaNoEncontrada': '',
        'paginaAnterior': '',
        'referente': '',
        'tipoPagina': 'contenido',
        'contenido1': 'area publica',
        'contenido2': 'observatorio',
        'contenido3': '<%= page_name %>' ,
        'contenido4': '',
      }); 
    </script>