---
title: Observatorio
layout: layout
---


<% page_name = 'mas digitales mismas decisiones' %>
<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name => page_name,
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Más digitales, mismos bancos, mismas inversiones',
    :image => 'hero_2.jpg',
    :extra_content=> "2",
    :page_name => page_name,
  }) %>

  <div>
    <div class="section_block section_block--double">
      <div class="cnt_graph">
        <div class="svg_anim" id="roscos_varios_2"></div>
      </div>

      <p class="section_block_text fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--bottom-in">El <strong>canal tradicional bancario</strong> sigue siendo la <strong>vía principal de contratación</strong>. La transformación digital del sector no ha evolucionado los productos en los que se invierte, ni ha mermado las visitas a la oficina física. Lo que sí ha cambiado es el <strong>seguimiento</strong> de los mismos, que se realiza a través de <strong>plataformas digitales</strong>.</p>
    </div>
    <div class="section_block sec_2_grey fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--middle-in">
      <p class="section_block_text">Aunque <strong>más de la mitad</strong> de los inversores lo hacen en <strong>oficina física</strong>, a día de hoy <strong>4 de cada 10</strong> ya contratan productos financieros a través de <strong>plataformas digitales</strong>.</p>
    </div>
  </div>
  <div class="info-block mb-xs-0 info-block--img-right fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--middle-in" >
    <div class="info-block__graph">
      <div class="svg_anim" id="rosco2B"></div>
    </div>
    <div class="info-block__content">
       <p class="title"><strong>1 de cada 3 inversores</strong> realiza un seguimiento semanal de sus productos.</p>
    </div>
  </div>

  <div class="know_block know_block--with-img fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--middle-in">
    <div class="know_block_image">
      <%= image_tag("content/inversor.jpg", :class => '') %>
    </div>
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>El <strong>tiempo medio</strong> dedicado por el inversor español a la <strong>información económica es de 2,1 horas semanales</strong>, siendo la prensa online el principal medio de comunicación.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share ">
        <span class="btn_val">Compartir</span>
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin" data-title="Observatorio" data-desc="El tiempo medio dedicado por el inversor español a la información económica es de 2,1 horas semanales, siendo la prensa online el principal medio de comunicación." onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'linkedin','eventLabel': '<%= page_name %>' });" ></a>
          <a href="#" class="sz sz-facebook" data-title="Observatorio" data-desc="El tiempo medio dedicado por el inversor español a la información económica es de 2,1 horas semanales, siendo la prensa online el principal medio de comunicación." onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'facebook','eventLabel': '<%= page_name %>' });"></a>
          <a href="#" class="sz sz-twitter" data-title="El tiempo medio dedicado por el inversor español a la información económica es de 2,1 horas semanales, siendo la prensa online el principal medio de comunicación." onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'twitter','eventLabel': '<%= page_name %>' });"></a>
        </span>
      </button>
    </div>
  </div>



  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name => page_name,
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => 'Productos de inversión: más oferta pero sin cambios sustanciales',
    :prev_url => '/section_1.html',
    :next_title => 'Ahorro insuficiente, inversión deficiente',
    :next_url => '/section_3.html'
  }) %>
</div>
<%= partial("shared/footer" ,:locals => { :page_name => page_name }) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'ModoWeb': device, //'<desktop | movil>',
        'Idioma': '',
        'Hora': localeTime, //'<HH:MM:SS>',
        'Dia de la semana':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'Tipologia del dia de la semana': typeOfDay ,//'<week|weekend>',
        'Fecha publicacion': '-',
        'Pagina no encontrada': '-',
        'Pagina anterior': '-',
        'Referente': '-',
        'Tipo de pagina': 'contenido',
        'Nivel de contenido1': 'area publica',
        'Nivel de contenido2': 'observatorio',
        'Nivel de contenido3': '<%= page_name %>',
        'Nivel de contenido4': '-',
      }); 
    </script>