---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Productos de inversión: más oferta pero sin cambios sustanciales',
    :image => 'hero_1.jpg',
    :extra_content=> "1"
  }) %>
  
  <div class="section_block">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
      <p class="section_block_title">Entre los productos financieros más contratados, destacan los <strong>planes de pensiones</strong> y <strong>los depósitos</strong>.</p>
      <p class="section_block_text">La <strong>experiencia</strong> del inversor y su <strong>conocimiento financiero</strong> son puntos clave a la hora de contratar productos financieros <strong>distintos al depósito</strong>.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-long fp_animate--fadeInUp fp_animate--bottom-quarter-in">
      <div class="svg_anim stats_vertical" id="stats_vertical"></div>
    </div>
  </div>

  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>En la última década, el comportamiento de los <strong>inversores más jóvenes</strong> ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share hide-on-mobile">
        Compartir
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin"></a>
          <a href="#" class="sz sz-facebook"></a>
          <a href="#" class="sz sz-twitter"></a>
        </span>
      </button>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => '',
    :next_title => 'Más digitales, mismos bancos, mismas inversiones',
    :next_url => '/section_2/'
  }) %>
</div>
<%= partial("shared/footer") %>
