---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Más digitales, mismos bancos, mismas inversiones',
    :image => 'hero_2.jpg',
    :extra_content=> "2"
  }) %>

  <div>
    <div class="section_block sec_2_grey grey-expanded fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
      <p class="section_block_text">El <strong>canal tradicional bancario</strong> sigue siendo la <strong>vía principal de contratación</strong>. La transformación digital del sector no ha mermado las visitas a la oficina física ni ha evolucionado los productos en los que se invierte.</p>
    </div>

    <div class="section_block section_block--double fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
      <div class="cnt_graph">
        <%= image_tag("content/chart_5.png", :class => '') %>
      </div>
      <div class="section_block_header">
        <p class="section_block_text">Aunque <strong>más de la mitad</strong> de los inversores lo hacen en <strong>oficina física</strong>, a día de hoy casi <strong>4 de cada 10</strong> ya contratan productos financieros a través de <strong>plataformas digitales</strong>.</p>
      </div>
    </div>
  </div>

  <%= partial("modules/info_block", :locals => {
    :extra_classes => 'mb-xs-0',
    :animation => 'fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in',
    :content => '<p class="title"><strong>1 de cada 3 inversores</strong> realiza un seguimiento semanal de sus productos.</p>',
    :image => 'content/chart_6.png',
    :img_right => true,
  }) %>

  <div class="know_block know_block--with-img fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--top-in">
    <div class="know_block_image">
      <%= image_tag("content/inversor.jpg", :class => '') %>
    </div>
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>El inversor actual adquiere <strong>productos financieros</strong> en su banco de toda la vida.</p>
        <p><strong>No investiga el mercado</strong> para comparar con otras alternativas.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share ">
        Compartir
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin"></a>
          <a href="#" class="sz sz-facebook"></a>
          <a href="#" class="sz sz-twitter"></a>
        </span>
      </button>
    </div>
  </div>

  <!--<div class="section_block sec_2_grey_2 fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
    <div class="cnt_graph">
      <%= image_tag("content/chart_6.png", :class => '') %>
    </div>
    <div class="section_block_header">
      <p class="section_block_title"><strong>1 de cada 3 inversores</strong> realiza un seguimiento semanal de sus productos.</p>
    </div>
  </div>-->



  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => 'Productos de inversión, nada nuevo en el horizonte',
    :next_title => 'Ahorro insuficiente, inversión deficiente'
  }) %>
</div>
<%= partial("shared/footer") %>
