---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Productos de inversión, nada nuevo en el horizontes',
    :image => 'hero_1.jpg',
    :extra_content=> "1"
  }) %>

  <div class="section_block">
    <div class="section_block_header">
      <p class="section_block_title">Los productos más contratados son planes de pensiones y depósitos</p>
      <p class="section_block_text">La experiencia del inversor y su conocimiento financiero son puntos clave a la hora de contratar productos distintos al depósito.</p>
    </div>
    <div class="cnt_graph">
      <%= image_tag("content/chart_2.png", :class => '') %>
    </div>
  </div>

  <div class="section_block sec_1_grey">
    <div class="section_block_header">
      <p class="section_block_title">El inversor adquiere, no compara</p>
    </div>

    <div class="cnt_graph">
      <div class="chart_1">
        <%= image_tag("content/chart_3.png", :class => '') %>
      </div>
      <div class="chart_2">
        <%= image_tag("content/chart_4.png", :class => '') %>
      </div>
    </div>
  </div>

  <div class="know_block">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>1 de cada 3 inversores no analiza la oferta de productos financieros del mercado.</p>
        <p>Se ciñen, en general, a la oferta generalista de las entidades bancarias.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share">Compartir</button>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>
</div>
<%= partial("shared/footer") %>
