---
title: Observatorio
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Contratación a sabiendas, sin saber',
    :image => 'hero_4.jpg',
    :extra_content=> "4"
  }) %>
  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>1 de cada 3 inversores <strong>no analiza la oferta de productos financieros</strong> del mercado. Se ciñe, en general, a la oferta común de las entidades bancarias.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share hide-on-mobile">
        Compartir
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin"></a>
          <a href="#" class="sz sz-facebook"></a>
          <a href="#" class="sz sz-twitter"></a>
        </span>
      </button>
    </div>
  </div>

  <div class="section_block sec_4_grey">
    <div class="section_block_header">
      <p class="section_block_title">El inversor compra, no compara</p>
      <p class="section_block_text">El inversor español <strong>se guía por la percepción</strong> que tiene sobre la <strong>rentabilidad</strong> y los beneficios de la desgravación fiscal a la hora de contratar fondos de inversión y planes de pensiones.</p>
    </div>

    <div class="cnt_graph">
      <div class="chart_1 fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--bottom-in">
        <%#= image_tag("content/chart_3.png", :class => '') %>
        <p class="chart_title">Planes de pensiones</p>
        <div class="svg_anim" id="roscofoto3A"></div>
      </div>
      <div class="chart_2 fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--bottom-in">
        <%#= image_tag("content/chart_4.png", :class => '') %>
        <p class="chart_title">Fondos de inversión</p>
        <div class="svg_anim" id="roscofoto3B"></div>
      </div>
    </div>
  </div>

  <div class="section_block sec_4">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
      <p class="section_block_title">A pesar de que <strong>4 de cada 10</strong> inversores <strong>no están contentos con la rentabilidad</strong> obtenida de sus productos financieros, no comparan ni se preocupan por encontrar nuevas alternativas.</p>

    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--middle-in">
      <%#= image_tag("content/chart_5.png", :class => '') %>
      <div class="svg_anim" id="roscos_varios_1"></div>
    </div>
  </div>


  <div class="know_block sect4 know_block--with-img fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--middle-in">
    <div class="know_block_image">
      <%= image_tag("content/known_sec-4.jpg", :class => '') %>
    </div>
    <div class="know_block_content">
      <div class="know_block_content_text">
        <p>8 de cada 10 inversores españoles esperan que sus inversiones conlleven la <strong>máxima rentabilidad</strong> con el <strong>menor riesgo posible</strong>.</p>
      </div>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => 'bg-white'
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => 'Ahorro insuficiente, inversión deficiente',
    :prev_url => '/section_3.html',
    :next_title => ''
  }) %>
</div>
<%= partial("shared/footer") %>
