---
ogUrl: section_1.html
ogImage: hero_1.jpg
ogTitle: ¿Lo sabías?
ogDescription: En la última década, el comportamiento de los inversores más jóvenes ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017
title: Observatorio
layout: layout
---

<% page_name = 'productos de inversion nada nuevo en el horizonte' %>
<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent',
  :page_name => page_name,
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Productos de inversión: más oferta pero sin cambios sustanciales',
    :image => 'hero_1.jpg',
    :extra_content=> "1",
    :page_name => page_name,
  }) %>
  
  <div class="section_block">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
      <p class="section_block_title">Entre los productos financieros más contratados, destacan los <strong>planes de pensiones</strong> y <strong>los depósitos</strong>.</p>
      <p class="section_block_text">La <strong>experiencia</strong> del inversor y su <strong>conocimiento financiero</strong> son puntos clave a la hora de contratar productos financieros <strong>distintos al depósito</strong>.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-long fp_animate--fadeInUp fp_animate--bottom-quarter-in">
      <div class="svg_anim stats_vertical" id="stats_vertical"></div>
    </div>
  </div>

  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--middle-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p>En la última década, el comportamiento de los <strong>inversores más jóvenes</strong> ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share">
        <span class="btn_val">Compartir</span>
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'linkedin','eventLabel': '<%= page_name %>' });" ></a>
          <a href="#" class="sz sz-facebook" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'facebook','eventLabel': '<%= page_name %>' });"></a>
          <a href="#" data-title="En la última década, el comportamiento de los inversores más jóvenes ha cambiado: el porcentaje de los que tienen una vivienda en propiedad ha disminuido del 60% al 27%, según datos del INE de 2017." class="sz sz-twitter" onclick="DigitalData.push({'event':'event' ,'eventCategory':'compartir rrss','eventAction':'twitter','eventLabel': '<%= page_name %>' });"></a>
        </span>
      </button>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => '',
    :page_name => page_name,
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :next_title => 'Más digitales, mismos bancos, mismas inversiones',
    :next_url => '/section_2.html'
  }) %>
</div>
<%= partial("shared/footer", :locals => {:page_name => page_name}) %>
    <script>
       
       
       
       

      DigitalData.push({
        'event': 'pageview',
        'ModoWeb': device, //'<desktop | movil>',
        'Idioma': '',
        'Hora': localeTime, //'<HH:MM:SS>',
        'Dia de la semana':  weekDay , //'<lunes|martes|...|sabado|domingo>',
        'Tipologia del dia de la semana': typeOfDay ,//'<week|weekend>',
        'Fecha publicacion': '-',
        'Pagina no encontrada': '-',
        'Pagina anterior': '-',
        'Referente': '-',
        'Tipo de pagina': 'contenido',
        'Nivel de contenido1': 'area publica',
        'Nivel de contenido2': 'observatorio',
        'Nivel de contenido3': '<%= page_name %>' ,
        'Nivel de contenido4': '-',
      }); 
    </script>