---
title: Proyect Index
layout: layout
---

<%= partial("shared/header", :locals => {
  :extra_classes => 'bg-transparent'
}) %>

<div class="content__wrapper">

  <%= partial("modules/hero_section", :locals => {
    :extra_classes => '',
    :title => 'Productos de inversión, nada nuevo en el horizontes',
    :image => 'hero_1.jpg',
    :extra_content=> "1"
  }) %>

  <div class="section_block">
    <div class="section_block_header fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
      <p class="section_block_title">Los productos más contratados son <strong>planes de pensiones y depósitos</strong></p>
      <p class="section_block_text">La <strong>experiencia</strong> del inversor y su <strong>conocimiento financiero</strong> son puntos clave a la hora de contratar productos <strong>distintos al depósito</strong>.</p>
    </div>
    <div class="cnt_graph fp_animate fp_animate--transition-medium fp_animate--fadeInUp fp_animate--top-in">
      <%= image_tag("content/chart_2.png", :class => '') %>
    </div>
  </div>

  <div class="section_block sec_1_grey">
    <div class="section_block_header">
      <p class="section_block_title">El inversor adquiere, no compara</p>
    </div>

    <div class="cnt_graph">
      <div class="chart_1 fp_animate fp_animate--transition-medium fp_animate--fadeInRight fp_animate--top-in">
        <%= image_tag("content/chart_3.png", :class => '') %>
      </div>
      <div class="chart_2 fp_animate fp_animate--transition-medium fp_animate--fadeInLeft fp_animate--top-in">
        <%= image_tag("content/chart_4.png", :class => '') %>
      </div>
    </div>
  </div>

  <div class="know_block sect1 fp_animate fp_animate--transition-medium fp_animate--fadeInDown fp_animate--top-in">
    <div class="know_block_content">
      <p class="know_block_content_title">¿Lo sabías?</p>
      <div class="know_block_content_text">
        <p><strong>1 de cada 3</strong> inversores <strong>no analiza la oferta de productos financieros</strong> del mercado.</p>
        <p>Se ciñen, en general, a la oferta generalista de las entidades bancarias.</p>
      </div>
      <button type="button" class="btn btn--secondary btn-share hide-on-mobile">
        Compartir
        <span class="share_wrap" data-socialize>
          <a href="#" class="sz sz-linkedin"></a>
          <a href="#" class="sz sz-facebook"></a>
          <a href="#" class="sz sz-twitter"></a>
        </span>
      </button>
    </div>
  </div>

  <%= partial("modules/download", :locals => {
    :extra_classes => ''
  }) %>

  <%= partial("modules/sections_nav", :locals => {
    :extra_classes => '',
    :prev_title => '',
    :next_title => 'Más digitales, mismos bancos, mismas inversiones'
  }) %>
</div>
<%= partial("shared/footer") %>
